

.progress-graph {
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  height: 230px;
    width: 20vw;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .progress-graph h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .progress-graph canvas {
    max-width: 100%;
    height: auto;
  }

  @media (max-aspect-ratio: 1/1){
    .progress-graph {
      
        width: 80vw;
       
      }
  }
  