

.weather {
  height: 230px;
  width: 20vw;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .weather h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
  }
  
  .weather p {
    font-size: 18px;
    color: black;
    margin: 10px 0;
  }
  @media (max-aspect-ratio: 1/1){
    .weather{
        width: 80vw;
        margin-top: 20px;
    }
}